.body {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: lightcyan;
  color: black;
}

.translator {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 85vw;
  background-color: lightcyan;
}
.translator__header {
  height: 15%;
  width: 100%;
}
.translator__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.translator__main__text {
  height: 80%;
  width: 80%;
}
