@use "./mixin";
@font-face {
  font-family: "AutumnPixel";
  src: url("../src/AutumnPixelExtraWideRegular-6YPlv.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;

  @include mixin.phone {
    justify-content: center;
  }
}

.title {
  backdrop-filter: blur(10px);
  color: black;
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AutumnPixel", sans-serif;

  @include mixin.phone {
    font-size: small;
    position: absolute;
    top: 3vh;
  }

  @include mixin.computer {
    font-size: 4em;
  }
}

.translator {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 72vh;
  width: 85vw;
  border: 2px black solid;
  background-color: rgba(190, 190, 190, 1);
  border-radius: 10px;

  &__header {
    height: 15vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    select {
      width: 30%;
      padding: 10px;
      border: 2px solid black;
      background-color: rgb(76, 76, 76);
      color: white;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s;

      @include mixin.phone {
        height: 30px;
        width: 40%;
        font-size: 1em;

        padding: 0;
      }

      @include mixin.computer {
        width: 30%;
        height: 40%;
        padding: 0;
        padding-left: 20px;
        font-size: 1.5em;
      }
    }
  }

  &__main {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    &__text {
      padding: 10px;
      height: 45%;
      width: 80%;
      border-radius: 10px;
    }
  }
}

.arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 40px solid #000;
  cursor: pointer;
  transition: transform 0.3s ease;

  @include mixin.phone {
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    border-left: 32.5px solid #000;
  }

  @include mixin.computer {
    border-top: 2.5vh solid transparent;
    border-bottom: 2.5vh solid transparent;
    border-left: 6.5vh solid #000;
  }

  &__rotated {
    transform: rotate(180deg);
  }
}

.box {
  width: 100%;
  height: 100%;
  background-color: #000;
}

button {
  width: 100px;
  height: 100px;
}

.footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 5vh;

  &--selected-sound {
    background-color: greenyellow;
  }

  &--selected-light {
    background-color: yellow;
  }

  &__input {
    display: flex;
    flex-direction: column;

    gap: 20px;

    button {
      width: 30vw;
      height: 10vh;
      font-size: larger;

      @include mixin.computer {
        font-size: 3.5em;
      }

      @include mixin.phone {
        width: 25vw;
      }
    }
  }

  &__triangle {
    border-top: 2vh solid transparent;
    border-bottom: 2vh solid transparent;
    border-left: 3.45vh solid #000;
    margin-left: 5px;
  }

  &__square {
    width: 2.5vh;
    height: 2.5vh;
    background-color: black;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

    button {
      width: 8vh;
      height: 8vh;
      background-color: red;
      border-radius: 50%;

      @include mixin.phone {
        width: 6vh;
        height: 6vh;
      }
      @include mixin.tablet {
        width: 7vh;
        height: 7vh;
      }
    }
  }

  &__light-output {
    width: 40%;
  }
}

#stopButton,
#playButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
